
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas1 {
    min-width: 500px;
    max-width: 1000px;
    max-height: 700px;
}

.controls {
    display: flex;
    max-height: 30px;
    font-size: 8px;
}

.controls > input {
    width: 50%;
    font-size: inherit;
}
.controls > label {
    width: 35%;
    color: aliceblue;
    font-size: inherit;
    padding: 5px;
}
.controls > button {
    font-size: inherit;
    margin: 5px;
}